@import '../../core/sass/variables';
@import '../../core/sass/mixins';

.hero {
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-height: 50vh;

  @include breakpoint(sm) {
    min-height: 60vh;
  }
}
.hero__headline, .hero__leadCopy {
  padding-left: $gutter-spacing;
  padding-right: $gutter-spacing;

  @include breakpoint(sm) {
    padding-left: $section-spacing;
    padding-right: $section-spacing;
  }
}
.hero__headline {
  margin-bottom: 0.5rem;
}
.hero__leadCopy {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
