@import '../../../core/sass/mixins';

.project {
  min-width: 250px;
  height: 50vh;
  margin-bottom: 0.5rem;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;

  @include breakpoint(sm) {
    height: 33.3333vh;
    margin-bottom: 1rem;
  }
}
.project__meta {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  color: #fff;
}
.project__title {
  margin-bottom: 0;
}
