.l-row {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   &--nowrap {
      flex-wrap: nowrap;
   }

   margin-left: -$gutter-spacing;
   margin-right: -$gutter-spacing;
}

.l-col {
	 flex-grow: 1;
   flex-shrink: 0;
   flex-basis: auto;
   padding-left: $gutter-spacing;
   padding-right: $gutter-spacing;
}

[class^="l-col-"] {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  padding-left: $gutter-spacing;
  padding-right: $gutter-spacing;

}

@include l-col(xxs);

@include breakpoint(xs) {
   @include l-col(xs);
}
@include breakpoint(sm) {
   @include l-col(sm);
}
@include breakpoint(md) {
   @include l-col(md);
}
@include breakpoint(lg) {
   @include l-col(lg);
}

.l-container {
   width: 100%;
   display: block;

   &--centered {
      margin-left: auto;
      margin-right: auto;

      @include breakpoint(sm) {
         max-width: calc(#{$sm} - 2rem);
      }
      @include breakpoint(md) {
         max-width: calc(#{$md} - 4rem);
      }
      @include breakpoint(lg) {
         max-width: calc(#{$lg} - 10rem);
      }
   }
}

.l-container-flex {
  display: flex;
  flex-direction: column;
}

.l-section {
  padding: calc(#{$gutter-spacing}*2) $gutter-spacing;

  @include breakpoint(sm) {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
    padding-left: 0;
    padding-right: 0;
  }
}
