.l-row {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   &--nowrap {
      flex-wrap: nowrap;
   }
}

@include l-col(xs);

@include breakpoint(sm) {
   @include l-col(sm);
}
@include breakpoint(md) {
   @include l-col(md);
}
@include breakpoint(lg) {
   @include l-col(lg);
}

.l-container {
   padding-top: $gutter-spacing;
   padding-left: $gutter-spacing;
   padding-right: $gutter-spacing;
   width: 100%;
   display: block;

   &--centered {
      margin-left: auto;
      margin-right: auto;

      @include breakpoint(sm) {
         max-width: calc(#{$sm} - 2rem);
      }
      @include breakpoint(md) {
         max-width: calc(#{$md} - 4rem);
      }
      @include breakpoint(lg) {
         max-width: calc(#{$lg} - 10rem);
      }
   }
}

.l-section {
  padding-top: $gutter-spacing;
  padding-bottom: $gutter-spacing;

  @include breakpoint(sm) {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
  }
}
